*swp
*swo
.*sw?
*.log
*.o
simulator
simulator-GC
simulator-GC-ver2
simulator-livesize
cscope.*
MYWORK
*.pyc
build
taskArtifacts
.gradle
temp.txt
STASH
libsqlite4java-linux-amd64.so
sqlite4java.jar
simulator-edges
version.cpp
simulator-type1
simulator-find-main
simulator-context
*~
z-DEL
*-OLD.*
*-BAK
*BUILD*
.*fuse*
debug*
*.ps
*.pdf
*.class
